$primary-color: #000000;


$creative-color: #f4d334;
$video-color: #59beab;
$digital-color: #57bcda;
$client-color: #b3d6e5;
$about-color: #f4d334;
$shop-color: #f2b1cc;
$art-a: #acded5;
$art-r: #f4d334;
$art-t: #b3d6e5;
$transparent: #00000000;
$video-anim-background: linear-gradient(to right, $video-color, $transparent);
$text-color: #fff;

$client-bottom-hover: 10%;
$head-height: 90px;
$head-padding: 20px;
$video-height: 70%;
$nav-height: 15%;

$video-height-phone: 30%;
$nav-height-phone: 50%;

$video-animation-height: 50%;
$video-animation-padding:100px;
$video-animation-padding-small:10px;
$about-form-width: 50%;
$about-form-height: 100%;
$about-form-padding-small: 10px;
$about-form-padding: 50px;
$about-title-font-size: $about-form-height*9;
$about-font-color: #fff;
$about-input-font-size: 150%;
$about-input-width: 70%;

$art-shop-font-color : #fff;
$art-shop-title-font-size: 400%;
$art-shop-text-size: 200%;
$art-shop-padding-small: 10px;
$art-shop-padding: 50px;